{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}

{{ if $src -}}

{{- $caption := .Get "caption" -}}
{{- $captionMD := .Get "captionMD" -}}
{{- $captionHTML := .Get "captionHTML" -}}

{{- $tinyw := default "500x webp q75" -}}
{{- $smallw := default "800x webp q75" -}}
{{- $mediumw := default "1200x webp q75" -}}
{{- $largew := default "1500x webp q75" -}}

{{- $data := newScratch -}}
{{- $data.Set "tiny" ($src.Resize $tinyw) -}}
{{- $data.Set "small" ($src.Resize $smallw) -}}
{{- $data.Set "medium" ($src.Resize $mediumw) -}}
{{- $data.Set "large" ($src.Resize $largew) -}}

{{- $tiny := $data.Get "tiny" -}}
{{- $small := $data.Get "small" -}}
{{- $medium := $data.Get "medium" -}}
{{- $large := $data.Get "large" -}}

<figure>
    <a href="{{ $src.RelPermalink }}">
        <picture>
        <source type="image/webp" media="(max-width: 376px)" 
            srcset="{{ with $tiny.RelPermalink }}{{ . }}{{ end -}}">

        <source type="image/webp" media="(max-width: 992px)" 
            srcset="{{ with $small.RelPermalink }}{{ . }}{{ end -}}">

        <source type="image/webp" media="(max-width: 1400px)" 
            srcset="{{ with $medium.RelPermalink }}{{ . }}{{ end -}}">

        <source type="image/webp" media="(min-width: 1600px)" 
            srcset="{{ with $large.RelPermalink }}{{ . }}{{ end -}}">
    
        <img loading="lazy" {{ with .Get "alt" }} alt="{{ . }}" {{ else }} alt=""{{- end }} src="{{ $src }}" height="{{ $src.Height }}" width="{{ $src.Width }}" class="img-fluid">
</picture>
</a>
{{ if or $captionHTML $captionMD $caption -}}
<figcaption>
{{- if $captionHTML }}
    {{ $captionHTML | safeHTML -}}
{{ else if $captionMD }}
    {{ $captionMD | strings.TrimSpace | .Page.RenderString -}}
{{ else }}
    {{ $caption -}}
{{- end }}
</figcaption>
{{- end }}
{{- end }}
</figure>