<p></p>
<div class="shortcode-notice {{ .Get 0 }}">
	<div class="shortcode-notice-title {{ .Get 0 }}">
		{{- if len .Params | eq 2 -}}
			{{ .Get 1 }}
		{{ else }}
			{{ .Get 0 }}
		{{- end -}}
	</div>
	<div class="notice-content">{{ .Inner | strings.TrimSpace | .Page.RenderString }}</div>
</div>
