{{/* Example
{{% quote src="Terry Pratchett" %}}
I’d rather be a rising ape than a falling angel.
{{% /quote %}}
*/}}

<blockquote class="quote">{{ .Inner | strings.TrimSpace | .Page.RenderString }}
  <span>~{{.Get "src" }}~</span>
</blockquote>