<form
	id="custom-search"
	name="custom-search"
	method="post"
	onsubmit="customSearchResults(); return false;"
>
	<p>
		<input
			id="custom-search-field"
			type="text"
			name="search"
			value=""
			title="Search string"
			placeholder="Search string"
		/>
		<!-- <input type="submit" value="Suchen"> -->
	</p>
	<!-- <p><em>durchsuchen:</em><br>
		<input type="checkbox"name="section[]" value="site" checked="checked"> alles<br>
		<input type="checkbox" name="section[]" value="post"> Blog<br>
		<input type="checkbox" name="section[]" value="other-section"> Other Section
	</p> -->
	<p>
		<label><input type="radio" name="option" value="AND" checked="checked" />
		AND search</label><br />
		<label><input type="radio" name="option" value="OR" /> OR search</label>
	</p>
</form>

<div id="custom-search-results"></div>

<script>
	// CUSTOM AREA
	let params = {
		json_src: "/en/searchindex.json", // for multiple sources: comma separated list of JSONarrays
		minlength: 3,
		defaultsearch: "AND",
		sort_date: "DESC",
		autocomplete: 1, // 0: form needs a submit button
		section_search: 0, // 1: needs checkboxes with name="section[]"
		badwords: "and,or,but,if,so,the,that,one,of", //ignore this words
		json_wait: "<p><em>One moment please, search is loading...</em></p>",
		json_ready: "<p><em>Please enter a search term</em></p>",
		extern_icon: " (externer Link)", // marker for external links (optional)
		err_badstring: "<p>The search term is too short!</p>",
		err_noresult: "<p>Sorry, no search result. Please try again.</p>",
		err_norequest:
			'<p style="text-align: center; color:red;">The full text search is currently not available.</p>',
		err_filefailed:
			'<p style="text-align: center;color: red;">A file could not be retrieved.</p>',
		res_one_item: "<p><em>[CNT] SEARCH RESULT</em></p>",
		res_more_items: "<p><em>[CNT] SEARCH RESULTS</em></p>",
		res_out_top: "<ul>",
		res_out_bottom: "</ul>",
		res_item_tpl:
			'<li><a href="[URL]">[TITLE]</a> ([DATE])<br>[SUMMARY]<br></li><hr class="hr-text" />',
		add_searchlink:
			'<p><a href="https://duckduckgo.com/?q=[QUERY]&kl=en-en&ia=web" target="_blank"><i>Not satisfied with the search results? External search via DuckDuckGo ...</i></a></p>',
	};

	// Translation of section name (optional)
	let section_trans = {
		post: "Blog",
		// "other-section" : "Other Section"
	};

	let searchfield_weight = {
		title: 5,
		tags: 5,
		summary: 2,
		content: 1,
	};
	// CUSTOM AREA END
</script>
{{ $jssearch := resources.Get "js/search.js" -}}
<script src="{{ $jssearch.RelPermalink }}"></script>
<noscript
	><p>
		The search function can only be used with Javascript enabled
	</p></noscript
>
