{{ if and ( isset .Params "nocomments" ) ( eq .Params.nocomments true ) -}}
	<div class="shortcode-notice hinweis">
		<div class="shortcode-notice-title hinweis">{{ i18n "hint" }}</div>
		<div class="notice-content">
			{{ i18n "nocomments" }}
		</div>
	</div>
{{ else }}
	<div class="shortcode-notice hinweis">
		<div class="shortcode-notice-title hinweis">{{ i18n "hint" }}</div>
		<div class="notice-content">
			{{ i18n "activation" }}
		</div>
	</div>
	<div id="isso-thread">
		<section data-title="{{ .Title }}"></section>
		<noscript>
			<div class="shortcode-notice warnung">
				<div class="shortcode-notice-title warnung">
					{{ i18n "error" }}
				</div>
				<div class="notice-content">
					{{ i18n "nojs" }}
				</div>
			</div>
		</noscript>
	</div>
{{ end }}
