<footer>
	<div class="links">
		<a
			href="https://gohugo.io/"
			target="_blank"
			rel="noreferrer"
			title="Hugo is one of the most popular open-source static site generators"
			>{{ i18n "hugoCreated" }} ({{ hugo.Version }})</a
		>&nbsp;{{ i18n "and" }}&nbsp;<a href="https://www.mercurial-scm.org">Mercurial</a
		><br />
		<a href="{{ "/impressum" }}" target="_blank"
			>{{ i18n "imprint" }}</a
		>&nbsp;|&nbsp;<a
			href="{{ "/datenschutz" }}"
			target="_blank"
			>{{ i18n "privacypol" }}</a
		>
	</div>
	<div class="mitte">
		<img
			src="{{ "images/by-sa.svg" | relURL }}"
			loading="lazy"
			alt="Creative Commons by sa"
			height="31"
			width="89"
		/>
		<br />{{ i18n "license" | safeHTML }}<br /><a href="{{ if eq .Site.Language.Lang "de" }}
				/index.xml
			{{ else }}
				/en/index.xml
			{{ end }}"
			><img
				src="{{ "images/feed.svg" | relURL }}"
				loading="lazy"
				alt="RSS-Feed"
				height="48"
				width="48" /></a
		><a href="mailto:{{ .Site.Params.mail }}"
			><img
				src="{{ "images/mail.svg" | relURL }}"
				loading="lazy"
				alt="E-Mail"
				height="48"
				width="48" /></a
		><a
			href="{{ if eq .Site.Language.Lang "de" }}
				/search
			{{ else }}
				/en/search
			{{ end }}"
			><img
				src="{{ "images/search.svg" | relURL }}"
				loading="lazy"
				alt="Suche"
				height="48"
				width="48" /></a
		><a href="{{ .Site.Params.mastodon }}"
			><img
				src="{{ "images/mastodon.svg" | relURL }}"
				loading="lazy"
				alt="Mastodon"
				height="48"
				width="48"
		/></a>
		<a href="{{ .Site.Params.repo }}"
			><img
				src="{{ "images/git.svg" | relURL }}"
				loading="lazy"
				alt="Codeberg"
				height="48"
				width="48"
		/></a>
	</div>
	<div class="rechts">
		<a href="https://uberspace.de" title="Uberspace.de"
			><img
				src="{{ "images/uberspace.png" | relURL }}"
				loading="lazy"
				width="150"
				height="80"
				alt="https://uberspace.de"
		/></a>
	</div>
</footer>
