<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta
		name="description"
		content="Mehr oder weniger sinnvolle Beiträge zu Linux, OSS, Handbike und anderem Zeug."
	/>
	<meta name="robots" content="noindex" />
	<meta name="referrer" content="no-referrer" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="theme-color" content="#ffffff" />
	{{ range .AlternativeOutputFormats -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
	{{ $cssstyle := resources.Get "css/style.css" -}}
	<link rel="stylesheet" href="{{ $cssstyle.RelPermalink }}" />
	<title>
		{{ if .IsHome }}
			{{ .Site.Title }}
		{{ else }}
			{{ .Title }}
		{{ end }}
	</title>
</head>
