<head>
	{{ $paginator := slice -}}
	{{- if .IsHome -}}
		{{ $paginator = .Paginate (where .Site.RegularPages "Type" "posts") }}
	{{- end -}}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{{ hugo.Generator }}
	<meta
		name="description"
		content="{{ if .Description }}
			{{ .Description }}
		{{ else }}
			{{ i18n "description" }}
		{{ end }}"
	/>
	{{- if .IsHome -}}
		{{- if eq $paginator.PageNumber 1 -}}
			<link rel="canonical" href="{{ .Permalink }}" />
		{{- else -}}
			<link
				rel="canonical"
				href="{{ .Permalink }}page/{{ $paginator.PageNumber }}/"
			/>
		{{- end -}}
	{{- else -}}
		<link rel="canonical" href="{{ .Permalink }}" />
	{{- end }}
	<meta name="referrer" content="no-referrer" />
	{{ if or (eq .Kind "taxonomy") (eq .Kind "term") -}}
	<meta name="robots" content="noindex, follow" />
	{{ else -}}
	<meta name="robots" content="index, follow" />
	{{ end -}}
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="theme-color" content="#ffffff" />
	{{ range .AlternativeOutputFormats -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
	{{ $cssstyle := resources.Get "css/style.css" -}}
	{{ $csshighlight := resources.Get "css/highlight.css" -}}
	{{ $cssnotice := resources.Get "css/notice.css" -}}
	{{ $cssisso := resources.Get "css/isso.css" -}}
	{{ if eq hugo.Environment "production" -}}
		{{ $styleBundle := slice $cssstyle $csshighlight $cssnotice $cssisso | resources.Concat "css/bundle.css" | fingerprint "sha256" -}}
		<link rel="stylesheet" href="{{ $styleBundle.RelPermalink }}" />
	{{ else -}}
		<link rel="stylesheet" href="{{ $cssstyle.RelPermalink }}" />
		<link rel="stylesheet" href="{{ $csshighlight.RelPermalink }}" />
		<link rel="stylesheet" href="{{ $cssnotice.RelPermalink }}" />
		<link rel="stylesheet" href="{{ $cssisso.RelPermalink }}" />
	{{ end -}}
	{{ if or (not ( isset .Params "nocomments" )) ( ne .Params.nocomments true ) -}}
		<script
			defer
			data-isso="{{ .Site.Params.issoHost }}"
			data-isso-css="false"
			data-isso-lang="{{ .Site.Language.Lang }}"
			data-isso-max-comments-top="inf"
			data-isso-max-comments-nested="inf"
			data-isso-vote="false"
			src="{{ .Site.Params.issoHost }}js/embed.min.js"
		></script>
	{{- end }}
	<title>
		{{- if .IsHome }}
			{{- .Site.Title -}}
		{{ else }}
			{{- .Title -}}
		{{ end -}}
	</title>
</head>
