<div class="article-info">
	{{ i18n "postedOnDate" }} {{ .Date | time.Format ":date_long" }}
	{{ if ne .Lastmod .Date }}
		&nbsp;|&nbsp;{{ i18n "editedOnDate" }}
		{{ .Lastmod | time.Format ":date_long" }}
	{{ end }}
	{{ if or (not ( isset .Params "nocomments" )) ( ne .Params.nocomments true ) -}}
		&nbsp;|&nbsp;<a href="{{ .RelPermalink }}#isso-thread">Comments</a>
	{{ end }}
	{{- if .IsTranslated -}}
		{{- range .Translations }}
			&nbsp;|&nbsp;<a href="{{ .RelPermalink }}"
				>{{ .Language.LanguageName -}}</a
			>
		{{- end -}}
	{{- end }}
</div>
