{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
	<hr class="hr-text" />
	{{ i18n "related" }}
	<ul>
		{{ range . }}
			<li><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .Lastmod | time.Format ":date_long" }})</li>
		{{ end }}
	</ul>
{{ end }}
