{{- if .Params.categories -}}
	<div class="article-cat">
		{{- range $index, $category := .GetTerms "categories" -}}
			{{- if $index }}&nbsp;|&nbsp;{{ end -}}<a
				href="{{ .RelPermalink }}"
				rel="category"
				>{{ .LinkTitle }}</a
			>
		{{- end -}}
	</div>
{{- end -}}
{{- if .Params.tags -}}
	<div class="article-tag">
		{{- range $index, $tag := .GetTerms "tags" -}}
			{{- if $index }}&nbsp;|&nbsp;{{ end -}}<a
				href="{{ .RelPermalink }}"
				rel="tag"
				>{{ .LinkTitle }}</a
			>
		{{- end -}}
	</div>
{{- end -}}
