.shortcode-notice .notice-content {
	padding: 0.6em 1em;
	display: block;
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
	color: hsl(0 0% 40%);
	border-radius: 4px;
}

.shortcode-notice-title {
	color: hsl(0, 0%, 19%);
	padding-left: 1em;
	font-weight: 700;
	text-transform: capitalize;
	border-radius: 4px 4px 0 0;
}

.shortcode-notice-title.hinweis {
	background-color: hsl(120 39% 54% / 0.8);
}

.shortcode-notice.hinweis .notice-content {
	background: hsl(120 61% 94%);
}

.shortcode-notice-title.tip {
	background-color: hsl(204 64% 64%);
}

.shortcode-notice.tip .notice-content {
	background: hsl(205 66% 94%);
}

.shortcode-notice-title.info {
	background-color: hsl(28 79% 72%);
}

.shortcode-notice.info .notice-content {
	background: hsl(38 100% 93%);
}

.shortcode-notice-title.warnung {
	background-color: hsl(2 64% 58% / 0.8);
}

.shortcode-notice.warnung .notice-content {
	background: hsl(0 71% 93%);
}

.age {
	background-color: hsl(204 64% 64%);
	border-radius: 4px;
	font-size: .8em;
	padding: 0.6em 1em;
}
