@font-face {
	font-family: "Atkinson Hyperlegible";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/atkinson/atkinson-hyperlegible-v11-latin-regular.woff2")
			format("woff2"),
		url("../fonts/atkinson/atkinson-hyperlegible-v11-regular.woff")
			format("woff");
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		url("../fonts/atkinson/atkinson-hyperlegible-v11-latin-700.woff2")
			format("woff2"),
		url("../fonts/atkinson/atkinson-hyperlegible-v11-latin-700.woff")
			format("woff");
}

body {
	background-color: hsl(0 0% 94%);
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-size: calc(15px + 0.390625vw);
	padding: 0 1rem;
	margin: 0 auto;
}

header {
	border-bottom: 2px solid;
	margin: 10px 0 20px;
	text-align: right;
	width: 100%;
}

header a {
	text-decoration: none;
}

main {
	max-width: 42rem;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	line-height: 1.5;
}

main a, mark, .notice-content {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

footer {
	border-top: 2px solid;
	clear: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: .9375rem;
	padding: 10px 0;
	width: 100%;
}

footer p {
	line-height: 1;
	margin: 5px 50px;
}

.links {
	text-align: left;
	width: 33%;
}

.mitte {
	text-align: center;
	width: 33%;
}

.rechts {
	text-align: right;
	width: 33%;
}

.article-info {
	font-size: 1rem;
}

.article-cat {
	font-size: .9375rem;
	padding: 5px 0 0;
}

.article-cat:before {
	background: url("../images/cat.svg") no-repeat;
	content: "";
	display: block;
	float: left;
	height: 20px;
	margin: 0 6px 0 0;
	width: 20px;
}

.article-tag {
	font-size: .9375rem;
	padding: 5px 0 0;
}

.article-tag:before {
	background: url("../images/tag.svg") no-repeat;
	content: "";
	display: block;
	float: left;
	height: 20px;
	margin: 0 6px 0 0;
	width: 20px;
}

h1 {
	color: hsl(0 0% 0%);
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.5rem;
}

h2 {
	color: hsl(210 64% 13%);
	line-height: 1.2;
	margin-bottom: 0;
	font-size: 1.875rem;
}

h2 a {
	color: hsl(240 100% 47%);
	text-decoration: none;
}

.hr-text {
	line-height: 1rem;
	position: relative;
	outline: 0;
	border: 0;
	color: hsl(0, 0%, 0%);
	text-align: center;
	height: 1.5rem;
}

hr:before {
	content: "";
	background-color: hsl(0, 0%, 0%);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 3px;
}

hr:after {
	content: "<hr />";
	position: relative;
	display: inline-block;
	padding: 0 .5rem;
	line-height: 1.5rem;
	background-color: hsl(0 0% 94%);
}

mark {
	background: linear-gradient(transparent 55%, hsl(80 58% 79%) 0%);
}

figure {
	display: block;
	margin: 0;
	padding: 0;
}

figure figcaption {
	font-size: 1rem;
	text-align: center;
}

img, .img-fluid {
	height: auto;
	max-width: 100%;
}

.pagination {
	display: flex;
	justify-content: center;
}

.pagination ul {
	clear: both;
	display: block;
	float: left;
	margin: 8px 0;
	padding: 0;
}

.pagination ul li {
	float: left;
	list-style-type: none;
	padding: 4px 6px;
}

.pagination ul li:last-child {
	border-right: none;
}

.pagination ul li.active {
	background-color: hsl(80 58% 79%);
	border-radius: 5px;
	font-weight: 700;
}

.pagination ul li a {
	display: block;
	padding: 4px 6px;
	text-decoration: none;
}

.pagination .disabled {
	float: left;
	list-style-type: none;
	padding: 4px 6px;
}

blockquote.quote {
	background: linear-gradient(to right, hsl(80 58% 79%) 4px, transparent 4px) 0 0,
		linear-gradient(to bottom, hsl(80 58% 79%) 4px, transparent 4px) 0 0,
		linear-gradient(to left, hsl(80 58% 79%) 4px, transparent 4px) 100% 100%,
		linear-gradient(to top, hsl(80 58% 79%) 4px, transparent 4px) 100% 100%;
	background-repeat: no-repeat;
	background-size: 40px 25px;
	color: hsl(300 1% 28%);
	margin: 1rem auto 2rem;
	padding: 1rem 1.2rem;
	position: relative;
	text-align: left;
	font-size: 1.25rem;
	width: 80%;
}

blockquote > span {
	color: hsl(0 0% 20%);
	display: block;
	font-style: normal;
	font-weight: 700;
}

a[href^="http://"]:not([href*="fryboyter.de"][href$="/fryboyter.de"]):after,
a[href^="https://"]:not([href*="fryboyter.de"][href$="/fryboyter.de"]):after
{
	content: "" url("../images/extern.svg");
	padding-left: 2px;
}

.archive img {
	vertical-align: super;
	height: 12px;
	width: 12px;
}

input[type='text'],
input[type='email'] {
	font-size: inherit;
}

*:focus:not(:focus-visible) {
	outline: none
}

*:focus-visible {
	outline: 2px solid hsl(80, 100%, 16%);
	outline-offset: 4px;
	box-shadow: 0 0 0 6px white;
}

@media (max-width: 768px) {
	.footer {
		align-items: center;
		flex-direction: column;
		gap: 10px;
	}
	.links, .mitte, .rechts {
		padding: 10px 0;
		text-align: center;
		width: inherit;
	}
	.article-cat, .article-tag {
		margin: 5px 0;
	}
}
