{{ define "head" }}
	{{ partial "headpages.html" . }}
{{ end }}
{{ define "main" }}
	<main>
		<h2>{{ .Title }}</h2>
		<p>Du hast die schwarze Leere des Raums erreicht. Hier gibt es im wahrsten Sinn des Wortes nichts zu sehen. Kehre zurück zu <a href="https://fryboyter.de">https://fryboyter.de</a>.</p>
	</main>
{{ end }}
