	<!-- Header -->
	{{ partial "header.html" . }}

	<!-- Loop through all posts -->

	<div class="header"><h1><a href="{{ .Site.BaseURL }}">Fryboyter</a></h1></div>
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	        <h2>{{ .Title }}</h2>
	        <div class="article-info">Veröffentlicht am {{ .Date.Format "02.01.2006" }} | <a href="{{ .Permalink }}#isso-thread">Comments</a> {{ if .IsTranslated }} {{ range .Translations }} | <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a> {{ end}}{{ end }} | <a href="{{.Site.Params.ghrepo}}edit/master/content/{{.File.Path}}" >Bei Github bearbeiten</a></div>
	        {{ .Content }}
	        <div class="article-cat">{{- if .Params.categories }}
		    {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }} | {{ end }}<a href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}" rel="category">{{ . }}</a>{{ end }}</div>
            <div class="article-tag">{{- if .Params.tags }}
            {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }} | {{ end }}<a href="{{ "tags/" | relLangURL }}{{ . | urlize | lower }}" rel="tag">{{ . }}</a>{{ end }}</div>
		    {{ end }}  
	{{ end }}
	{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<hr />
Diese Artikel könnten auch interessant sein:
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}
	<hr />
	<section id="isso-thread" data-title="{{ .Title }}"></section>
	                    <noscript><p>Die Kommentarfunktion kann nur mit aktiviertem Javascript genutzt werden</p></noscript>
	        </div>
	        

	    </div>
	</div>

	<!-- End loop -->

	<!-- Footer -->
{{ partial "footer.html" . }}