<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
	{{- block "head" . }}{{- end -}}
	<body>
		{{ partialCached "header.html" . -}}
		{{- block "main" . }}{{- end -}}
		{{- partial "footer.html" . }}
	</body>
</html>
