{{ define "head" }}
	{{ partial "head.html" . }}
{{ end }}
{{ define "main" }}
	<main>
		{{- range .Paginator.Pages -}}
			<article>
				<h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
				{{ partial "metadata.html" . }}
				{{- .Content }}
				{{- partial "taxonomy.html" . }}
				<hr class="hr-text" />
			</article>
		{{ end }}
		<nav class="pagination">
			{{ partial "pagination.html" . }}
		</nav>
	</main>
{{ end }}
