{{ define "head" }}
	{{ partial "head.html" . }}
{{ end }}
{{ define "main" }}
	<main>
		<article>
			<h2>{{ .Title }}</h2>
			{{ partial "metadata.html" . }}
			{{- .Content }}
			{{- partial "taxonomy.html" . }}
			{{- partial "related.html" . }}
			<hr class="hr-text" />
			{{- partial "comments.html" . }}
		</article>
	</main>
{{ end }}
