{{ define "head" }}
	{{ partial "headpages.html" . }}
{{ end }}
{{ define "main" }}
	<main>
		{{- range .Paginator.Pages -}}
			<article>
				<h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
				{{- .Content }}
				<hr class="hr-text" />
			</article>
		{{ end }}
	</main>
{{ end }}
